.wpb_acep_person:not(:last-child) {
	border-bottom: 1px solid #e6e6e6;
}

.wpb_acep_person .wpb_element_title .vc_element-icon {
	display: inline-block;
	float: none !important;
	vertical-align: middle;
}

.wpb_acep_person .attach_image {
	max-height: 40px;
}

.wpb_acep_person .wpb_vc_param_value {
	display: inline-block;
	vertical-align: middle;
	margin-right: 1rem;
}

.wpb_acep_person .wpb_vc_param_value.acep_person_name {
	font-weight: bold;
}
